<IfModule mod_rewrite.c> 
    RewriteEngine On
    # Sesuaikan RewriteBase dengan nama folder project kamu di htdocs 
    RewriteBase /lab11_php_oop/ 

    # Jangan proses jika file/folder aslinya memang ada 
    RewriteCond %{REQUEST_FILENAME} !-d 
    RewriteCond %{REQUEST_FILENAME} !-f 
    
    # Arahkan semua request lain ke index.php 
    RewriteRule ^(.*)$ index.php/$1 [L] 
</IfModule> 